{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


    <div class="container1">
        <h1 style="color: white;">Bienvenido a la Página Principal</h1>
        
        <div class="container2">
              <h2 style="color: white;">Los mas visitados</h2>
                <ul style="color: white;">
                  {% for juego in juegos10 %}
                      <li><a href="{% url 'game_detail' juego.id %}">{{ juego.nombre }} - {{ juego.id_genero }} - {{ juego.plataforma }}</a></li>
                  {% endfor %}
              </ul>
        </div>
        <div class="container3">
            <h2 style="color: white;">Lanzamientos recientes</h2>
              <ul style="color: white;">
                {% for juegos in juegosRecientes %}
                     <li><a href="{% url 'game_detail' juegos.id %}">{{ juegos.nombre }} - {{ juegos.id_genero }} - {{ juegos.creado }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>




{% endblock %}