{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


    <div class="container1">
        <h1 style="color: white;">Bienvenido a la Página Principal</h1>
        
         <div class="container2">
              <h2 style="color: white;">Los mas visitados</h1>
                <ul style="color: white;">
                  {% for juego in juegos10 %}
                      <li><a href="{% url 'game_detail' juego.id %}">{{ juego.nombre }} - {{ juego.genero }} - {{ juego.plataforma }}</li>
                  {% endfor %}
              </ul>
          </div>
          <div class="container3">
            <h2 style="color: white;">Lanzamientos recientes</h1>
            <ul style="color: white;">
                {% for juegos in juegosRecientes %}
                    <li>{{ juegos.nombre }} - {{ juegos.genero }} - {{ juegos.creado }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="container4">
      </div>
    </div>




{% endblock %}