{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


    <div class="container1">
        <h1 style="color: white;">Bienvenido a la Página Principal</h1>
        
         <div class="container2">
              <h2 style="color: white;">Los mas visitados</h1>
          </div>
          <div class="container3">
            <h2 style="color: white;">Lanzamientos recientes</h1>
        </div>
        <div class="container3">
          <h2 style="color: white;">Proximos lanzamientos</h1>
      </div>
    </div>




{% endblock %}